{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="uzb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>ijep.kspi.uz</title>
    
    <!-- STYLES -->
    <link rel="stylesheet" href="{% static  '/admin/css/jquery.css' %}">
    <link rel="stylesheet" href="{% static  '/admin/css/style.css' %}">
    <link rel="stylesheet" href="{% static  '/admin/css/normalize.css' %}">
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static  '/admin/bootstrap/css/bootstrap.min.css' %}">
    
    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    {% if user.is_authenticated %} 
    <!-- HEADER -->
    <header class="mb-5">
        <div class="nav-bar container">
            
            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                <img src="{% static  '/img/logo.png' %}" alt="logo image" width="36px" style="margin-right: 10px;">
                <div class="logo-name" style="font-size: 0.8em; letter-spacing: 1px; line-height: 1; font-family: 'Poppins', sans-serif;">
                    IJEP
                </div>
            </a>
            
            
            <!-- tillar -->
            <div class="d-flex align-items-center">
                
                <form action="{% url 'set_language' %}"  id="form-til"  method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select class="tillar mx-2" id="tillar" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option class="til" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local.capitalize }}
                        </option>
                        {% endfor %}
                    </select>
                </form> 
                <i class="uil uil-apps nav-menu-btn"></i>
                
                <div>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Chiqish</a>
                </div>
                
            </div>
            
        </div>
    </header>
    
    
    
    <div class="main-content container px-3 py-3">
        
        <h5 class="text-center mb-4">"Muqumiy nomli Qo‘qon davlat pedagogika institutining xorijiy oliy ta'lim tashkilotlari bilan qo‘shma dastur asosida tashkil etilgan qo‘shma dastur asosida 2023-2024 o'quv yili o‘qishga qabul qilish bo‘yicha abituriyentlar haqida ma'lumot"</h5>
        
        <div class="row text-center">
            <div class="col-md-5 border border-secondary rounded mb-3">
                <div class="direct-title p-3"><b>Magistraturaga topshirganlar</b></div>
                <hr>
                <a class="btn btn-primary mb-3" href="{% url 'magistr' %}">Arizalar ro'yxati</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 border border-secondary rounded mb-3">
                <div class="direct-title p-3"><b>Bakalavrga topshirganlar</b></div>
                <hr>
                <a class="btn btn-primary mb-3" href="{% url 'bakalavr' %}">Arizalar ro'yxati</a>
            </div>
        </div>
    </div> 

    {% else %}
    <h2 class="text-center">Bosh sahifaga qaytish</h2>
    <a class="btn btn-primary" href="{% url 'home' %}">Bosh sahifa</a>
    {% endif %}
    
    <script src="{% static  '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        const dropdown = document.getElementById("tillar");
        
        dropdown.addEventListener("change", function() {
            
            document.getElementById("form-til").submit();
        });
    </script>
    
</body>
</html>






