/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CUSTOM PROPS */
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;
    
    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
    
    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
    
    --swiper-navigation-size: 28px;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

.btn-rang {
    background-color: #fff !important;
    color: #222;
    padding: 8px 12px;
    transition: all 0.5s ease;
}
.btn-rang:hover {
    color: #fff !important;
    background-color: #3f459b !important;
}

/* MAIN CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background: var(--body-bg-color);
}
.main-content {
    flex-grow: 1;
}

section {
    position: relative;
}

.section {
    color: var(--white-color);
    background: var(--section-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}

.section.bg-light {
    background-color: #f9f9f9;
    color: #222;
}


/* HEADER */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem+1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* background-color: rgba(0,0,0,0.4); */
    padding: 10PX 0;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky {
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .tillar {
    border: 0;
    background-color: transparent;
    color: #fff;
}

header .tillar .til {
    background-color: #202834;
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: .3s ease;
}

.nav-close-btn, .nav-menu-btn {
    display: none;
}

.nav-bar .logo {
    color: var(--white-color);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    transition: all 0.3s ease;
}

.navigation .nav-items a:hover {
    border-top: 2px solid rgb(96, 148, 244);
    border-bottom: 2px solid rgb(96, 148, 244);
    color: rgb(96, 148, 244);
}

.navigation .nav-items i {
    display: none;
}

.navigation .nav-items a:not(:last-child) {
    margin-right: 45px;
}


/* HOME */
.home {
    min-height: 100vh;
}
.home.home-secondary {
    min-height: 60vh;
}

/* BACKGROUND SLIDER */
.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.bg-slider.bg-secondary {
    min-height: 60vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}
.bg-slider .swiper-slide.secondary {
    height: 60vh;
}
.bg-slider .swiper-slide.secondary img  {
    height: 60vh;
}

.swiper-slide-img {
    position: relative;
}
.swiper-slide-img::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(14, 20, 39, 0.7),rgba(7, 40, 150, 0.6));
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: .3s ease;
}

.swiper-slide .text-content .title {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
    border: none;
    outline: none;
    background: var(--white-color);
    padding: 8px 25px;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
}

.swiper-slide .text-content .read-btn a i {
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn a:hover i {
    transform: translateX(5px);
}

.dark-layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: rgba(255, 255, 255, 0.1);
    border-right: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
}

/* MEDIA ICONS */
.media-icons {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateX(-50%);
    margin-left: 90px;
}

.media-icons a {
    color: var(--white-color);
    font-size: 1.7em;
    margin: 10px 0;
}

@media screen and (max-width: 1300px) {
    header .nav-bar {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1100px) {
    header .nav-bar {
        padding: 0 50px;
    }
    
    .section {
        padding: 25px 50px;
    }
    
    .media-icons {
        right: 0;
        margin-right: 50px;
    }
    
    .swiper-slide .text-content {
        margin: 0 120px 0 50px;
    }
    
    .bg-slider-thumbs {
        bottom: 3em;
    }
    
    .swiper-slide .text-content .title {
        font-size: 3em;
    }
}

@media screen and (max-width: 1000px) {
    header .nav-bar {
        padding: 35px 30px;
    }
    
    .swiper-slide .text-content .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 785px) {
    header .nav-bar {
        padding: 25px 20px;
    }
    
    .section {
        padding: 25px 20px;
    }
    
    .media-icons {
        margin-right: 20px;
    }
    
    .media-icons a {
        font-size: 1.5em;
    }
    
    .swiper-slide .text-content {
        margin: 0 70px 0 20px;
    }
    
    .swiper-slide .text-content p {
        font-size: 0.9em;
    }
    
    .nav-menu-btn {
        display: block;
        color: var(--white-color);
        font-size: 1.5em;
        cursor: pointer;
    }
    
    .nav-close-btn {
        display: block;
        color: var(--dark-color);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
    }
    .navigation {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.25);
        display: flex;
        justify-content: center;
        align-items:center;
        display: none;
    }
    
    .navigation .nav-items {
        position: relative;
        background: var(--white-color);
        width: 400px;
        min-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
    }
    
    .navigation .nav-items a {
        color: var(--dark-color);
        font-size: 1em;
        margin: 15px 50px;
        display: flex;
        align-items: center;
        transition: 0.3s ease;
    }
    
    .close-btn {
        font-size: 1.8em;
        position: absolute;
        right: 10px;
        top: 8px;
        cursor: pointer;
    } 
    
    .navigation .nav-items i {
        display: block;
    }
    
    .navigation .nav-items a i {
        /* display: flex; */
        margin-right: 5px;
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: var(--swiper-navigation-top-offset,50%);
        width: calc(var(--swiper-navigation-size)/ 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        color: var(--navigation-item-hover-color);
    }
}

@media screen and (max-width: 440px) {
    .navigation .nav-items {
        min-width: 310px;
        padding: 40px 0;
    }
}


/* NEWS */
section.news {
    padding: 20px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.news-item {
    background-color: #f9f9f9;
    padding: 10px;
}

.news-item .news-img {
    overflow: hidden;
    border-radius: 10px;
}

.news-item .news-img img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 200px;
    transition: transform .4s ease;
}

.news-item .news-img img:hover {
    transform: scale(1.1);
}

/* HAMKOR RASMLAR */
.hamkor-rasm {
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
}
.hamkor-rasm img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* ARIZA */
.ariza.ariza-bg {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(14, 20, 39, 0.7),rgba(7, 40, 150, 0.6)),
        url(../img/all2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.ariza-info {
    max-width: 800px;
}
.ariza p {
    font-size: 18px;
    font-weight: 500;
}
.ariza-info a {
    text-align: center !important;
}




/* FOOTER */
.footer{
    background-color: #24262b;
    padding: 70px 0;
    color: #ffffff;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #1e21e9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

.img-hamkor {max-width: 80px;}


